* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f9f1;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #6b8e23;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5em;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background-color: #dcefd1;
  padding: 80px 20px;
  text-align: center;
}

.section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #3e5e2e;
  text-align: center;
}

ul {
  padding-left: 20px;
}

footer {
  background-color: #6b8e23;
  color: #000000;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.section p {
  text-align: justify;
   color: #363636;
}

.container {
      display: flex; /* Habilita o uso do flexbox */
      align-items: center; /* Alinha os itens verticalmente */
      gap: 20px; /* Adiciona um espaçamento entre a imagem e o texto */
}

.imagem {
      width: 150px; /* Define a largura da imagem */
      height: auto; /* Mantém a proporção da imagem */
}

.texto {
       /* Estilos para o texto */
}
